@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

// body{
//   overflow-x: hidden;
// }

.App {
  background-image: url("./images/neon.jpg");
  background-size: 100%;
}

::-webkit-scrollbar{
  display: none;
}

.App-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  backdrop-filter: blur(80px);
  font-family: 'Nunito', sans-serif;
  // font-style: italic;
  h1{
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 0;
    @media (max-width:700px) {
      // font-size: calc(20px + 2vmin);
      margin-top: 100px;
    }
  }
  p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8px;
    // max-inline-size: 1000px;
    overflow-wrap: break-word;
    font-size: calc(60px + 2vmin);
    font-weight: 900;
    @media (max-width:700px) {
      font-size: calc(20px + 2vmin);
      margin-top: 20px;
    }
  }
}

.container{
  padding:0.01em 36px;
}

// .noise {
//   position: fixed;
//   // top: -50%;
//   // left: -50%;
//   // z-index: -1;
//   width: 200%;
//   height: 200%;
//   background-image: url("./images/noise.jpg");
//   background-repeat: repeat;
//   // animation: noise 1s steps(2) infinite;
//   pointer-events: none;
//   opacity: .2;
// }

// @keyframes noise {
//   0% {
//     transform: translateZ(0);
//   }
//   10% {
//     transform: translate3d(-1%, -2%, 0);
//   }
//   20% {
//     transform: translate3d(-3%, 1%, 0);
//   }
//   30% {
//     transform: translate3d(2%, -5%, 0);
//   }
//   40% {
//     transform: translate3d(-1%, 3%, 0);
//   }
//   50% {
//     transform: translate3d(-3%, 2%, 0);
//   }
//   60% {
//     transform: translate3d(3%, 0, 0);
//   }
//   70% {
//     transform: translate3d(0, 3%, 0);
//   }
//   80% {
//     transform: translate3d(2%, 5%, 0);
//   }
//   90% {
//     transform: translate3d(-2%, 2%, 0);
//   }
//   100% {
//     transform: translateZ(0);
//   }
// }

.about{
  position: absolute;
  // top: 40px;
  right: 36px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  @media (min-width:700px) {
    top: 40px;
  }
  @media (max-width:700px) {
    // top: 0;
    bottom: 36px;
    position: absolute;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  @media (max-width:1024px) {
    padding-top: 40px;
  }
 
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 85%;
  border-radius: 8px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#myBtn{
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  font-size: 24px;
  @media (max-width:700px) {
    position: absolute;
    bottom: 36px;
    left: 36px;
  }
}


.about-image{
  width: 30%;
  border-radius: 8px;
  @media only screen and (max-width:"1000px"){
    width: 50%;
  }
}

.about-content{
  margin-left: 5%;
  max-width: 1000px;
}

.about-text{
    font-weight: 400;
    font-size: 21px;

    @media only screen and (max-width:1000px){
        font-size: 16px;
    }
}


.about-link {
    display: inline-block;
    position: relative;
    color: #6193C3;
    text-decoration: none;
    z-index: 2;
    transition:0.2s ease-in-out;
    
    &:hover {
      color: #6193C3;
      border-bottom: none;
      &:before {
        transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform-origin:left;
         background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200%25' height='100%25'%3E%3Cdefs%3E%3Cstyle%3E .wave%7B animation:wave 1s ease-in-out infinite alternate; animation-delay:-0.25s; stroke:cornflowerblue; stroke-width:2; stroke-linecap:square; %7D @keyframes wave%7B to%7B d:path('M 0 40 Q 20 42.5 40 40 Q 60 37.5 80 40'); %7D %7D %3C/style%3E%3C/defs%3E%3Cpattern id='wavePattern' x='0' y='0' width='80' height='80' patternUnits='userSpaceOnUse'%3E%3Cpath fill='none' class='wave' d='M 0 40 Q 20 37.5 40 40 Q 60 42.5 80 40' /%3E%3C/pattern%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23wavePattern)'%3E%3C/rect%3E%3C/svg%3E")
          0px 50% / 80px 80px repeat-x;
        animation: waving 3s linear infinite;
        transform: scaleX(1);
        @keyframes waving {
          to {
            background-position: 80px 50%, 160px 50%;
          }
        }
      }
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 80px;
      left: 0;
      bottom: -40px;
      z-index: -1;
      transform: scaleX(0);
      transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
      transform-origin: right;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200%25' height='100%25'%3E%3Cdefs%3E%3Cstyle%3E .wave%7B stroke:%7f6ed2; stroke-width:2; stroke-linecap:square; %7D %3C/style%3E%3C/defs%3E%3Cpattern id='wavePattern' x='0' y='0' width='80' height='80' patternUnits='userSpaceOnUse'%3E%3Cpath fill='none' class='wave' d='M 0 40 Q 20 40 40 40 Q 60 40 80 40' /%3E%3C/pattern%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23wavePattern)'%3E%3C/rect%3E%3C/svg%3E")
        0px 50% / 80px 80px repeat-x;
    }
  }

  .marquee{
    color: white;
    position: fixed;
    bottom:0;
    width: 100%;
    display: flex;
    flex-direction: row;
  }



  .social-icons{
    position: absolute;
    bottom: 36px;
    right: 36px;

    a{
      color: white;
      transition: .3s all ease;
      margin: 0 8px;
      text-decoration: none;
    }
  }